body {
    text-align: center;
}
#records-container {
    position: absolute;
    top: 20%;
    left: 0;
    width: 30%;
    text-align: center;
}
#records {
    height: 200px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

